@{
    Style.Require("OrchardHUN.ExternalPages.Bitbucket");
}

<div class="orchardhun-externalpages-bitbucket-edit-link-container">
    @Html.Link(T("Edit").Text, (string)Model.RepositoryFileLink)
</div>